<!DOCTYPE html>
<html lang="en">
  
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
        <% include ../partials/header %>
    </header>
    

    <!-- intro-section -->
    <section id="inner-intro">
      <div class="container pt-5">
            <h1 class="text-center">
              Welcome to our landing page, please see our team members below
            </h1>
          </div>
      </div>
    </section>


    <!-- card for team members intro -->
    <section id="team-members">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                <a href="./danabout" class="colorcard">
              <div class="card card1">
                  <div class="card-body text-center pb-2" style="color: rgb(72, 70, 70)">
                      <i class="fas fa-user-circle fa-5x"></i>
                      <h3 class="m-3">Dan</h3>
                    <h5>Group Lead</h5>
                  </div>
                </div>
              </a>
              </div>
        </div>
          <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-12 mb-2">
                    <a href="./moniqueabout">
                    <div class="card">
                      <div class="card-body text-center pb-2" style="color: rgb(72, 70, 70)">
                          <i class="fas fa-user-circle fa-5x"></i>
                          <h3 class="m-3">Monique</h3>
                        <h5>Front-end Lead</h5>
                      </div>
                    </div>
                  </a>
                  </div>
                  <div class="col-lg-3 col-sm-12 mb-2">
                      <a href="./pramishabout">
                      <div class="card">
                        <div class="card-body text-center pb-2" style="color: rgb(72, 70, 70)">
                            <i class="fas fa-user-circle fa-5x"></i>
                            <h3 class="m-3">Pramish</h3>
                          <h5>Front-end</h5>
                        </div>
                      </div>
                      </a>
                    </div>


            <div class="col-lg-3 col-sm-12 mb-2">
                <a href="./rayaabout">
                <div class="card">
                  <div class="card-body text-center pb-2" style="color: rgb(72, 70, 70)">
                      <i class="fas fa-user-circle fa-5x"></i>
                      <h3 class="m-3">Raya</h3>
                    <h5>Back-end Lead</h5>
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-3 col-sm-12 mb-2">
                  <a href="./gemabout">
                  <div class="card">
                    <div class="card-body text-center pb-2" style="color: rgb(72, 70, 70)">
                        <i class="fas fa-user-circle fa-5x"></i>
                      <h3 class="m-3">Gem</h3>
                      <h5>GitHub Lead/Back-end</h5>
                    </div>
                  </div>
                  </a>
                </div>
                </div>
      </div>
    </section>

    <!-- Footer section -->
    <Footer>
      <% include ../partials/footer %>
      </Footer>

    <!-- jquery import -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap import -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script defer
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      //get the current year for the copyright
      $('#year').text(new Date().getUTCFullYear());
    </script>
  </body>
</html>
