<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- scripts -->
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <!-- navbar -->
      <% include ../partials/header %>
    </header>

<section>
  <div class="inner-hero"> 
    <div class="dark-overlay">
    <div class="row">
      <div class="col-6 mx-5 my-5">
        <div class="container text-center">
        <h1>SFSU Buy and Sell</h1>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>




    <!-- content body -->
    <section>
      <!-- the side and main areas -->
      <div class="container-fluid">
        <div class="row">
          <!-- the mian area -->
          <%- include('../partials/maincontent', {'items':cards}) %>
        </div>
      </div>
    </section>

    <footer>
      <%- include('../partials/footer', {"cp":"Copyright"}) %>
    </footer>
  </body>
</html>
