<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- scripts -->
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <!-- navbar -->
      <% include ../partials/header %>
    </header>

    <!-- content body -->
    <section>
      <!-- the side and main areas -->
      <div class="container-fluid">
        <div class="row">
          <!-- the mian area -->
          <%- include('../partials/maincontent', {'items':cards}) %>
        </div>
      </div>
    </section>

    <footer>
      <%- include('../partials/footer', {"cp":"Copyrifght"}) %>
    </footer>
  </body>
</html>
