<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="colorbg ">






<title>Messages</title>
<!-- navbar -->


<!-- 
  //  This partial is for the messages page that holds the implentation of the email messages for the //  users to find their sent or received messages from users trying to contact them on their posted //  items
 -->
<!-- message box test -->
 <%- include('../partials/msgBox', {'emails': 'emails'}); %>

    </body>
</html>

