

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- scripts -->
    <% include ../partials/head %>
</head>


<body>
<header>
    <!-- navbar -->
    <%- include('../partials/header', {'categoriesList':categoriesList,
    'searchTerm': searchTerm, 'searchCategory': searchCategory}) %>
</header>

</body>

</html>


