html,
body {
  position: relative;
  width: 100%;
  background-color: #d4d6d6;
}

.mainArea {
  min-height: 100vh;
}
.container-fluid.centerArea {
  max-width: 1800px;
  margin: auto;
}
/* responsive screen sizes for intro-hero text */
@media screen and (max-width: 794px) {
  .hero-text {
    font-size: 2.2em !important;
  }
}

@media screen and (max-width: 715px) {
  .hero-text {
    font-size: 2.1em !important;
  }
}

@media screen and (max-width: 490px) {
  .hero-text {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 320px) {
  .hero-text {
    font-size: 1.7em !important;
  }
}

#inner-hero {
  background-color: indigo;
  max-width: 1800px;
  margin: auto;
  height: 150px;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 6px -6px black;
}
.aboutbody {
  background-color: white;
}

.header {
  height: 100px;
  background-color: indigo !important;
}

#logobtn {
  display: flex;
  width: auto;
  padding-bottom: 10px;
  margin: 0;
}

@media screen and (max-width: 776px) {
  #logobtn {
    width: 100%;
  }
}
.team {
  font-family: 'Alatsi', sans-serif;
  background: indigo;
  box-shadow: none !important;
  color: white;
}

.navbar-brand {
  font-size: 25px;
  padding: 0;
  padding-left: 10px;
  padding-right: 30px;
  color: white !important;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
.nav-link {
  color: white !important;
  text-align: center;
  margin: 5px;
}

/* user dropdown navlinks */
a.dropdown-item {
  font-size: inherit !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.dropdown-menu {
  padding: 0 !important;
}

.navbar-nav a {
  font-size: large;
  font-family: 'Alatsi', sans-serif;
}

.navbar-nav {
  padding-left: 30px;
  align-content: center;
}

.navbar {
  background-color: indigo !important;
  max-width: 1800px;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 8px 6px -6px black;
}

/* dropdown */
select {
  width: auto;
  border: 1px solid #ccc;
  height: 38px;
  background: #ffc107;
}

.search {
  flex-flow: nowrap;
}
.searchDiv input[type='text'] {
  width: 90%;
  color: #333;
  outline: none;
}

.searchDiv {
  background-color: indigo;
  padding-bottom: 10px;
  padding-top: 0;
  width: 100%;
  position: relative;
}

#team-members {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#team-members .card {
  margin: 2px;
}

.face-img {
  height: 120px;
  width: 120px;
}

.side {
  background-color: white;
  display: flex;
  margin-left: 15px;
}

.main {
  display: flex;
  justify-content: center;
}

.pic {
  width: 100%;
  height: 250px;
}

.dynamicCard {
  background: transparent;
  margin-bottom: 20px;
}

#cardss {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  height: 100%;
}

.cardLook {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mainCardBody {
  padding-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.modal {
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Alatsi', sans-serif;
}

.modal-content {
  box-shadow: 0 2px 9px 0 rgba(74, 74, 74, 0.2);
  border: none;
  border-radius: 0.5rem;
 
}
.login-modal{
  width: fit-content;
}

.modal-footer > button {
  justify-content: center !important;
  align-content: center !important;
  font-weight: 700;
}

.itemdescrip {
  display: flex;
  align-items: flex-start;
  justify-content: left;

  flex-direction: column;
}


/* login/signup css details */
.modalbtn {
  width: 100%;
}

#loginBtn {
  width: 100%;
  background: indigo;
  border: 1px solid indigo;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
#forgotlink {
  color: indigo !important;
  display: flex;
  justify-content: center;
}

#switch {
  color: indigo;
  cursor: pointer;
  margin-left: .3rem;
}

.policy {
  font-size: 12px;
}

.noAcct {
  display: flex;
  justify-content: center;
}

#userIcon{
  border: 3px solid #333;
  height: 70px;
  width: 70px;
 margin: auto;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}



/* card text details for items on page */
h6.itemPrice {
  width: 100%;
  text-align: start;
  padding: 16px;
  margin: 0;
  color: mediumseagreen;
}

p.itemDescription {
  width: 100%;
  text-align: start;
  padding: 16px;
  margin: 0;
}

.inner-post-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 5px;
}

.outer-post-info {
  padding: 15px;
  border: 1px solid #c4c4c4;
  margin: 10px;
}

.itemPrice {
  color: mediumseagreen;
}

/* ------------------- */

/* media query for seach bar responsiveness */
@media screen and (max-width: 991px) {
  .navbar {
    flex-flow: nowrap;
  }
}

@media screen and (max-width: 776px) {
  .navbar {
    flex-flow: wrap;
  }
}

/* for signup */
.modal-header {
  border-bottom: 0;
}

/* media query for view item */
@media screen and (max-width: 991px) {
  .mainpic {
    width: 498px;
  }
}

@media screen and (max-width: 575px) {
  .mainpic {
    width: 557px;
  }
}
@media screen and (max-width: 500px) {
  .mainpic {
    width: 482px;
  }
}
@media screen and (max-width: 414px) {
  .mainpic {
    width: 395px;
  }
}
@media screen and (max-width: 411px) {
  .mainpic {
    width: 393px !important;
  }
}
@media screen and (max-width: 375px) {
  .mainpic {
    width: 357px !important;
  }
}
@media screen and (max-width: 360px) {
  .mainpic {
    width: 342px !important;
  }
}
@media screen and (max-width: 320px) {
  .mainpic {
    width: 302px !important;
  }
}

@media screen and (max-width: 301px) {
  .mainpic {
    width: 283px !important;
  }
}

/* this is the css for the dashboard */
.colorbg {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.table-sm td,
.table-sm th {
  text-align: center;
}

.myPosts {
  min-height: 300px;
  margin: auto;
  border: #333 2px solid;
  margin-bottom: 50px;
  background-color: white;
}

.MessageBox,
.myposts {
  min-height: 500px;
  max-height: 500px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.messageText {
  font-style: oblique;
}

/*  css for textbook search feature*/
.filterBtn,
.filterbtn,
.select#class,
#Department,
button#textbook.searchbtn.btn.bg-warning {
  width: 100%;
}

/* fake add */
#sticky {
  position: sticky;
  position: -webkit-sticky;
  height: 80vh;
  width: 100%;
  top: 50px;
}

.submit {
  width: 100%;
}
