html,
body {
  height: relative;
  width: auto;
  background-color: lightgray;
}

.aboutbody {
  background-color: white;
}

.header {
  height: 100px;
  background-color: indigo !important;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-nav a {
  font-size: large;
  font-family: 'Arial Black', Gadget, sans-serif;
  padding-top: 0;
}

.navbar {
  background-color: indigo !important;
  color: white !important;
  padding-left: 50px;
}

/* dropdown */
.dropbtn {
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: black !important;
}

.drowpdown-content {
  display: none;
  position: relative;
  z-index: 1;
  background-color: indigo;
}

.drowpdown-content a {
  padding: 12px 16px;
}

.searchDiv {
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 0;
  padding-left: 50px;
}

.hero {
  background-size: 100% 100%;
  object-fit: contain;
  height: 300px;
  background-color: indigo;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-content: center;
}

.innerHero {
  background-color: white;
  opacity: 1 !important;
  z-index: 1;
}


#inner-intro {
  background-color: indigo;
  color: #fff;
  min-height: 180px;
}

#team-members {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#team-members .card {
  margin: 2px;
}

.face-img {
  height: 120px;
  width: 120px;
}

.side {
  background-color: white;
  display: flex;
  margin-left: 23px;
}

.main {
  display: flex;
  justify-content: center;
}

.pic {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.dynamicCard {
  background: transparent;
  border: transparent;
}

#cardss {
  background: white;
  padding: 40px;
  padding-top: 20px;
  
}

.mainCardBody {
  padding-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

span{
  display: flex;
  width: 300px;
  align-items: flex-end;
}