html,
body {
  height: relative;
  width: 100%;
  background-color: lightgray;
}

.aboutbody {
  background-color: white;
}

.header {
  height: 100px;
  background-color: indigo !important;
}

.navbar-brand {
  font-size: 30px;
  padding: 0;
  padding-left: 10px;
  color: white !important;
}
.nav-link {
  color: white !important;
}


.navbar-nav a {
  font-size: large;
  font-family: 'Arial Black', Gadget, sans-serif;
 
}

.navbar-nav {
  
  padding-right: 20px;
}

.navbar {
  background-color: indigo !important;

}

/* dropdown */
select {
  width: auto;
  font-size: 20px;
  border: 1px solid #ccc;
  height: 38px;
  background: #ffc107;
  border-end-end-radius: 0px;
}

.searchDiv {
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 0;
  
}

.inner-hero{
  height: 500px;
  background: url(../images/books.jpg);
  background-size: 100% 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
}

.dark-overlay{
  height: 100%;
  width: auto;
  background: rgb(0, 0, 0,.4)
}

#inner-intro {
  background-color: indigo;
  color: #fff;
  min-height: 180px;
}

#team-members {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#team-members .card {
  margin: 2px;
}

.face-img {
  height: 120px;
  width: 120px;
}

.side {
  background-color: white;
  display: flex;
  margin-left: 23px;
}

.main {
  display: flex;
  justify-content: center;
}

.pic {
  width: 100%;
  height: 250px;
}

.dynamicCard {
  background: transparent;
  /* border: transparent; */
  margin-bottom: 20px;
}

#cardss {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  height: 100%;
}

.mainCardBody {
  padding-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#logobtn {
  display: flex;
  width: 300px;
  padding-bottom: 10px;
  margin: 0;

}

.mainArea {
  min-height: 100vh;
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .mainArea {
   padding-left: 15px;
  }
}