<!-- views/partials/cards.ejs -->

<div class="card"> 
  <img src="<%= cards.itemImage %>" class="card-img-top pic" alt="" />
  <div class="card-body">
    <h5><%= cards.itemName %></h5>
    <p><%= cards.itemPrice %></p>
  
  </div>
</div>
 