<!-- views/partials/cards.ejs -->

<div class="col-md-4 col-sm-6 col-12 ">

    <div class="card dynamicCard text-center">
        <img src="<%= cards.image %>" class="card-img-top pic" alt=""/>
        <div class="card-body mainCardBody">
            <h5 class="m-0 mt-1"><%= cards.title %></h5>
            <p class="m-0 text-muted">$<%= cards.price %></p>
            <button class="btn bg-warning mt-1 pl-5 pr-5 py-1"
                    data-toggle="modal" data-target="#viewItem-<%= cards.id%>">
                View
            </button>
        </div>
    </div>
</div>

