<!-- views/partials/cards.ejs -->

<!-- <div class="card">
    <% //for(let i =0; i< cards.length; i++) { %>
    <img src="<%= //cards[i].itemImage %>" class="card-img-top pic" alt="" />
    <div class="card-body">
      <h4 class="text-muted"><%= //cards[i].seller %></h4>
      <h5><%=// cards[i].itemName %></h5>
      <p><%= //cards[i].itemPrice %></p>
      <%}%>
    </div>
  </div> -->
