<!-- views/partials/cards.ejs -->
<div class="col-md-4 col-sm-6 col-12 col-lg-3">
<div class="card"> 
  <img src="<%= cards.itemImage %>" class="card-img-top pic" alt="" />
  <div class="card-body">
    <h5><%= cards.itemName %></h5>
    <p><%= cards.itemPrice %></p>
  
  </div>
</div>
</div>