<!-- views/partials/footer.ejs -->

<footer>
    <div class="text-center py-4"> <%= cp %> &copy; <span id="year"></span> </div>
</footer>
<!-- <div id="footer">
  <h4 class="text-center py-4">
      Hello
     <%= //cp %> &copy; 
    <span id="year"> 2019 </span>
  </h4>
</div> -->
