<!-- views/partials/footer.ejs -->

<footer>
  <div class="text-center py-4" style="background-color: indigo; color: white; height: 200px;">
    <%= cp %> &copy; <span id="year"></span>
  </div>
</footer>
