<!-- views/partials/header.ejs -->


<!-- header for navbar -->
<div class="container-fluid above-nav bg-warning m-0">
    <div class="text-center m-0">
      <h3 class="m-0">SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</h3>
    </div>
  </div>

  <!-- Nav bar with responsive toggle -->

  <nav class="navbar navbar-expand-md  navbar-dark sticky-top">

    <div class="container">
      <a href="index.html" class="navbar-brand">CSC648</a>

    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a href="index.html" class="nav-link">HOME</a>
        </li>
        <li class="nav-item mr-3">
          <a href="index.html" class="nav-link">TEAM</a>
        </li>

      </ul>
    </div>
    </div>
  </nav>