<!-- views/partials/listings.ejs -->
<% include ../partials/sidebar %>

<div class=" mainArea col my-3">
    <section id="cardss">
    <span class="my-4">
      <h2 class="m-0"><%= searchCategory %></h2>
        <!-- <a class="ml-4" href="#">view more</a>-->
    </span>
        <div class="row">
            <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
            {cards: cards}); %>
            <% }); %>
        </div>
        <hr/>
    </section>
</div>



<% cards.forEach(function(cards){ %> <%- include('../partials/viewItem',
{cards: cards}); %> <% }); %>