<!-- views/partials/maincontent.ejs -->

<div class="col m-2">
  <% for (var i = 0; i < cards.length; i++) { %>

  <section id="cardss">



    <span class=""
      ><h2 class="m-0"><%= cards[i].name %></h2>
<!--      main_test_db-->
      <a class="ml-4" href="#">view more</a></span
    >
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />

  </section>

  <section id="cardss">

    <span class=""
      ><h2 class="m-0"></h2>
<!--      main_test_db-->
      <a class="ml-4" href="#">view more</a>
    </span>
    <div class="row">
      <% cards.forEach(function(cards){ %><%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>

  <section id="cardss">

    <span class=""
      ><h2 class="m-0"></h2>
<!--       main_test_db-->
      <a class="ml-4" href="#">view more</a>
    </span>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>
    <% } %>
</div>
