
<!-- views/partials/maincontent.ejs -->

<div class="col  m-2">
            <section id="cards">
              <h3 class="my-4">ELECTRONICS</h3>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <h3 class="my-4">FURNITURE</h3>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <h3 class="my-4">BOOKS</h3>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="card">
                    <img src="./images/chair.jpg" class="card-img-top pic" alt="" />
                    <div class="card-body">
                      <h5 class="text-muted">Item name</h5>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </section>
          </div>