<!-- views/partials/maincontent.ejs -->

<div class="col" style="margin-top: -300px;">
  <section id="cardss">
    <span class=""
      ><h2 class="m-0">Furniture</h2>
      <a class="ml-4" href="#">view more</a></span
    >
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>

  <section id="cardss">
    <span class=""
      ><h2 class="m-0">Electronics</h2>
      <a class="ml-4" href="#">view more</a>
    </span>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>

  <section id="cardss">
    <span class=""
      ><h2 class="m-0">Books</h2>
      <a class="ml-4" href="#">view more</a>
    </span>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>
</div>
