<!-- views/partials/maincontent.ejs -->

<div class="col m-2">
  <section id="cards">
    <h3 class="my-4">Electronics</h3>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>
  <section id="cards">
    <h3 class="my-4">Furniture</h3>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>
  <section id="cards">
    <h3 class="my-4">Books</h3>
    <div class="row">
      <% cards.forEach(function(cards){ %> <%- include('../partials/cards',
      {cards: cards}); %> <% }); %>
    </div>
    <hr />
  </section>
</div>
