<title>Messages</title>
<body class="colorbgwhats ">
    <div class="container MessageBox">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input type="text" class="search-bar"  placeholder="Search" >
                    <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span> </div>
                </div>
              </div>
              <div class="inbox_chat">
                <div class="chat_list active_chat">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>User 1 <span class="chat_date">Dec 25</span></h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere quasi quod vitae voluptatem placeat eaque natu</p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>User 2 <span class="chat_date">Dec 26</span></h5>
                      <p>Test, which is a new approach to have all solutions 
                        astrology under one roof.</p>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history">
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil est maiores odit eos dignissimos ducimus deserunt aspernatur quis a eveniet, necessitatibus reiciendis voluptates omnis fugiat.</p>
                      <span class="time_date"> 11:01 AM    | Received June 9</span></div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis explicabo ipsa fugit ut illo suscipit eligendi rerum ipsum labore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae asperiores nobis, nisi nam fuga temporibus voluptas cum autem voluptatem minima! Ea ab eius odit provident neque, minima reprehenderit atque iure!</p>
                    <span class="time_date"> 11:01 AM    | Sent June 9</span> </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, in.</p>
                      <span class="time_date"> 11:01 AM    | Recieved Yesterday</span></div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi cum vero nisi voluptatum similique facilis quisquam quod consequuntur id veritatis.</p>
                    <span class="time_date"> 11:01 AM    | Sent Today</span> </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae architecto natus enim ab vero a laboriosam ut animi accusantium. Aliquam quasi perferendis culpa numquam voluptate nisi, magni unde saepe.</p>
                      <span class="time_date"> 11:01 AM    | Received Today</span></div>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </body>