
<!-- views/partials/categories.ejs -->


<div class="col-2 d-none d-lg-block side my-3">
    <div class="left-menu text-center pt-5">
      <h4 class="pb-4">CATEGORIES</h2>
        <ul class="">
          <li>
            <a href="#">ITEM 1</a>
          </li>
          <hr>
          <li>
              <a href="#">ITEM 1</a>
            </li>
            <hr>
            <li>
                <a href="#">ITEM 1</a>
              </li>
              <hr>
              <li>
                  <a href="#">ITEM 1</a>
                </li>
                <hr>
                <li>
                    <a href="#">ITEM 1</a>
                  </li>
                  <hr>
        </ul>
    </div>
  </div>