
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {border: 30px solid #f1f1f1;}

        input[type=text], input[type=password] {
            width: 100%;
            padding: 20px 200px;
            margin: 2px 0;
            display: inline-block;
            border: 6px solid #ccc;
            box-sizing: border-box;
        }

        input[type=description], input[type=description] {
            width: 100%;
            padding: 50px 200px;
            margin: 2px 0;
            display: inline-block;
            border: 6px solid #ccc;
            box-sizing: border-box;
        }


        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 18px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .imagebtn {
            width: auto;
            padding: 100px 350px;
            background-color: #301934;
        }

        .imgcontainer {
            text-align: center;
            margin: 36px 0 120px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 29px;

        }

        .sell {

            padding: 10px 40px;
            background-color: #301934;
        }

        span.psw {
            float: right;
            padding-top: 1px;
        }

        .dropbtn {
            background-color: #301934;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #301934;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #white;}



        @media screen and (max-width: 3000px) {
            span.psw {
                display: block;
                float: none;
            }
            .imagebtn {
                width: 100%;
            }
        }
    </style>
</head>
<body>

<h2>Log In</h2>

<form action="/action_page.php" method="post">
    <h1>Only Valid SFSu.edu emails will be accepted</h1>

    <div class="container">

        <label for="psw"><b>User Name*</b></label>
        <input type="text" placeholder="Username" name="uname" required>


        <label for="psw"><b>Email</b></label>
        <input type="text" placeholder="Email" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="psw" required>
        <label for="psw"><b></b></label>








        <div class="sell" style="background-color: white">
            <button type="button" class="imagebtn"> Google Captcha</button>

        </div>


    </div>

    <div class="check">
        <label class="check-label">
            <input class="check-input" type="checkbox" name="remember"><a href> You agree to our Terms of Use</a>
        </label>

        <div class="clear">
            <button type="button" class="cancelbtn">Cancel</button>

        </div>

        </script>


        <button type="submit">Sign Up</button>



        </form>


        <label for="psw"><b><p><a href>Already have An Account? Login Here</a></p></b></label>

        </body>
        </html>

